doctype html
html
  head
    title TechMatrix
    link(rel="icon" href="data:;base64,iVBORw0KGgo=")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/sandstone/bootstrap.min.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="vendor.css")
    link(rel="stylesheet" href="app.css")
  body
    #react-container
    script(src="app.js")
