.Errors {
  margin-top: 5px;

  .errors-enter {
    opacity: 0.01;
  }

  .errors-enter.errors-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
  }

  .errors-leave {
    opacity: 1;
  }

  .errors-leave.example-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
  }

  .errors-appear {
    opacity: 0.01;
  }

  .errors-appear.errors-appear-active {
    opacity: 1;
    transition: opacity .5s ease-in;
  }
}

